<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />
        <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>hello</h1>
    <div class="container">
        <section>
            <div id="container_demo">
                <div id="wrapper">
                    <div id="createboard" class="animate form" >
                        <form action="/showdashboard" method="post" enctype="multipart/form-data">
                        <label for="board_name">Name:</label>
                        <input type="text" name="board_name" placeholder="Name for your Board"></br>
                        <label for="board_desc">Description:</label>
                        <input type="text" name="board_desc" placeholder="Description for your Board"></br>
                        <label for="board_privacy">Board Visibility:</label><br>
                            <input type="radio" name="board_privacy" value="Private">Private
                            <input type="radio" name="board_privacy" value="Public">Public<br>
                        <input type="submit" name="submit" value="Create!">
                        </form>
                    </div>
                </div>

            </div>
        </section>
    </div>
<div class="ui button">
  Follow
</div>

</body>
</html>