<!DOCTYPE html>
<html>
<head>
    <title>Tack</title>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
        $(document).ready(function(){
            $("a").click(function(){
                alert("The icon was clicked.");
            });
        });

    </script>
</head>
<body>
<div class="container">
    <section>
        <div id="container_demo">
            <div id="wrapper">
                <div class="ui left floated medium image">
                    {% if tack.is_favorite %}
                        <a class="ui right blue corner label item" style="text-decoration:none;" href="#" id="confirm_fav">
                            <i class="star icon"></i>
                        </a>
                        {% if tack.file_type == "image" %}
                            <img src="{{ MEDIA_URL }}{{ tack.tack_file }}" alt='No Image' width="400" height="400" title={{ tack.file_name }}/>
                        {% elif tack.file_type == "fromurl" %}
                            <img src="{{ MEDIA_URL }}{{ tack.tack_file }}" alt='No Image' width="400" height="400" title={{ tack.file_name }}/>
                        {% else %}
                            <video width="300" height="400" controls>
                                <source src="{{ MEDIA_URL }}{{tack.tack_file}}" type="video/webm">
                                <source src="{{ MEDIA_URL }}{{tack.tack_file}}" type="video/ogg">
                                <source src="{{ MEDIA_URL }}{{tack.tack_file}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    {% else %}
                        <a class="ui right red corner label item" style="text-decoration:none;" href="#" id="confirm_fav">
                            <i class="star icon"></i>
                        </a>
                        {% if tack.file_type == "image" %}
                            <img src="{{ MEDIA_URL }}{{ tack.tack_file }}" alt='No Image' width="400" height="400" title={{ tack.file_name }}/>
                        {% elif tack.file_type == "fromurl" %}
                                    <img src="{{ MEDIA_URL }}{{ tack.tack_file }}" alt='No Image' width="200" height="200" title={{ tack.file_name }}/>
                        {% else %}
                            <video width="300" height="400" controls>
                                <source src="{{ MEDIA_URL }}{{ tack.tack_file }}" type="video/webm">
                                <source src="{{ MEDIA_URL }}{{ tack.tack_file }}" type="video/ogg">
                                <source src="{{ MEDIA_URL }}{{ tack.tack_file }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="ui top left attached blue label">{{ tack.file_name }}</div>
                <div class="ui items">
                    <div class="item">
                        <div class="content">
                            <i class="url icon"></i>Visit <a href="{{ tack.bookmark }}" style="text-decoration: none" target="_blank" class="detail">{{ tack.bookmark }}</a>
                        </div>
                        <div class="content">
                            <i class="tags icon"></i>Tagged as: {{ tags }}
                        </div>
                        <div class="content">
                            <a class="item" href="#" style="text-decoration: none" id="edit_tack_link">
                                <i class="edit icon"></i> Edit Tack
                            </a>
                        </div>
                        <div class="content">
                            <div class="ui star rating" data-rating="5">
                                <i class="icon active"></i>
                                <i class="icon active"></i>
                                <i class="icon active"></i>
                                <i class="icon active"></i>
                                <i class="icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<style>
    #tackform{
        position: absolute;
        border: 5px solid gray;
        font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
        font-weight: 400;
        font-size: 15px;
        color: #1d3c41;
        overflow-y: scroll;
        border-radius: 5px;
        padding: 10px;
        background: white;
        width: 400px;
        height: auto;
    }

    #confirm_fav_form{
        position: absolute;
        border: 5px solid gray;
        font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
        font-weight: 400;
        font-size: 15px;
        color: #1d3c41;
        overflow-y: scroll;
        border-radius: 5px;
        padding: 10px;
        background: white;
        width: 400px;
        height: auto;
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        //open popup
        $("#edit_tack_link").click(function(){
            $("#tackform").fadeIn(1000);
            positionPopup();
        });

        //close popup
        $("#close").click(function(){
            $("#tackform").fadeOut(500);
        });

        $("#confirm_fav").click(function(){
            $("#confirm_fav_form").fadeIn(1000);
            favPopUp();
        });



        $("#closePopUp").click(function(){
            $("#confirm_fav_form").fadeOut(500);
        });
    });

    //position the popup at the center of the page
    function positionPopup(){
        if(!$("#tackform").is(':visible')){
            return;
        }
        $("#tackform").css({
            left: ($(window).width() - $('#tackform').width()) / 2,
            top: ($(window).width() - $('#tackform').width()) / 7,
            position:'absolute'
        });
    }

    function favPopUp(){
        if(!$("#confirm_fav_form").is(':visible')){
            return;
        }
        $("#confirm_fav_form").css({
            left: ($(window).width() - $('#confirm_fav_form').width()) / 2,
            top: ($(window).width() - $('#confirm_fav_form').width()) / 7,
            position:'absolute'
        });
    }

    //maintain the popup at center of the page when browser resized
    $(window).bind('resize',positionPopup);



</script>
<form class="ui form segment"
      name="confirm_fav_form"
      id="confirm_fav_form"
      method="post" style="display:none"
      action="/ConfirmFav?tackName={{ tack.file_name }}&boardName={{ board.name }}"
      enctype="multipart/form-data" >
    {% if tack.is_favorite %}
        <div>
            <label> Remove from favorite?</label>
        </div>
        <div>
            <input class="ui button blue" type="submit" id="removeFromFav" value="Remove">

            <a href="#" id="closePopUp">Close</a>
        </div>
    {% else %}
        <div>
            <label> Mark Tack '{{ tack.file_name }}' as Favourite? </label>
        </div>

        <div>
            <input class="ui button blue" type="submit" id="saveAsFav" value="Save">

            <a href="#" id="closePopUp">Close</a>
        </div>
    {% endif %}

</form>

<!-- This is the edit form for editing a tack -->
<form class="ui form segment"
      name="tackform"
      id="tackform"
      method="post" style="display:none"
      action="/editTack"
      enctype="multipart/form-data" >

    <div class="field">
        <label for="tack_name">Upload new file:</label>
        <div class="ui top center attached blue label">{{ tack.file_name }}</div>
    </div>

    <input type="hidden" name="tackName" value="{{ tack.file_name }}">

    <div class="field">
        <label for="file">Image:</label>
        <div class="input">
            <input type="file" name="file" id="file" accept="image/*"><br>
        </div>
    </div>

    <div class="field">
        <label for="tack_url">URL:</label>
        <div class="input">
            <input type="url" name="tack_url" placeholder="URL to tack" value="{{ tack.bookmark }}"/>
            </br>
        </div>
    </div>
    <div class="field">
        <label for="tags">Tags:</label>
        <div class="input">
            <input type="text" name="tags" placeholder="Tags Separated by commas" value="{{ tags }}"></br>
        </div>

    </div>
    <div class="field">
        <label>Board: {{ tack.board }} </label>
        <select name="ex_board">
            {% for board in boards %}
                <option name =""
                        value="{{ board.name }}"

                        {% if tack.board == board.name %} selected="selected" {% endif %}>
                    {{ board.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <input class="ui button blue" type="submit" id="submitTack" value="Save!">
    <a href="#" id="close">Close</a>
</form>

<!-- End of editing a tack -->

</body>
</html>