<!DOCTYPE html>
<html>
<head>
    <title>Follow User</title>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
        //Function to check whether the user being browsed is already followed or not
        function Check()
        {
            var checker="{{ flag }}";
            if(checker==="True")
            {
                document.getElementById('maintext').innerHTML="Follow {{ userName }}"
                document.getElementById('follow').value="Follow";
            }
            else
            {
                document.getElementById('maintext').innerHTML="Unfollow {{ userName }}"
                document.getElementById('follow').value="UnFollow";
            }
            //Code to close the Shadowbox on getting the response
            var v="{{ Done }}";
            if(v)
            {
                window.parent.Shadowbox.close();
            }
        }
        //Function to submit the form
        function execute()
        {
            document.sender.submit();
        }
    </script>

</head>
<body onload="Check()">

<div class="container">
    <section>
        <div id="container_demo">
            <div id="wrapper">

                <div id="maintext" class="ui top center attached blue label" style="align-content: center">Follow {{ userName }} ?
                </div>
                <br> <br><br>
                <div align="center">
                <form id="sender" name="sender" action="/SaveFollow?userName={{ userName }}" method="post" >
                    <input name="follow" id="follow" class="ui blue button center" type="button" value="Follow" onclick="execute()" >
                </form>
                 </div>
             </div>

        </div>
</div>
    </section>
</div>

</body>
</html>