<!DOCTYPE html>
<html>
<head>
    <title>About MyTacks</title>
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>
    <script type="text/javascript">
        function initPage(){ $('.ui.accordion').accordion();}

    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />

</head>
<body onload="initPage()">
<div class="ui inverted tiered menu">
    <div class="left menu">
        <div class="item">
            <img src="/static/images/tackshare.png" alt="TackShare"  width="300" height="50">
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <a class="item" href="/">
                <i class="home icon"></i> Home
            </a>
        </div>
        <div class="ui simple dropdown item">
            <i class="bookmark icon"></i>Actions<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/createtack">Create Tack</a>
                <a class="item" href="/createboard">Create Board</a>
                <a class="item" href="/newurltack">Create Tack from Url</a>
                <a class="item" href="/viewFavorites"><i class="star icon"></i>View Favorites</a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            <i class="user icon"></i>User<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/update">Update Profile</a>
                <a class="item" href="/manageemail">Email Management</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
        <div class="item">
            <a class="item" href="/displayInfoScreen">
                <i class="info icon"></i> About
            </a>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div id="container_demo">
            <div id="wrapper">
                <div class="ui fluid accordion">
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        What are the features of MyTacks?
                    </div>
                    <div class="active content">
                        <p>Some of the main features of MyTacks are:</p>
                        <ol class="ui list">
                            <li>Create Tacks</li>
                            <li>Create Boards</li>
                            <li>Follow Users</li>
                            <li>Search for Users/Boards</li>
                            <li>Mark Favorites</li>
                        </ol>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What is a tack?
                    </div>
                    <div class="content">
                        <p>A tack is a bookmark that contains an image or a video and a link to the website that you want to save.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What is a board?
                    </div>
                    <div class="content">
                        <p>A board is a collection of tacks. It can contain as many tacks as you wish to add. Generally, a board is used to organize tacks in a way that makes it easier for someone to find what they're looking for.</p>
                        <p> For example, you can store all bookmarks related to travel under a single board, and bookmarks related to your research paper under another board.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What does board privacy mean?
                    </div>
                    <div class="content">
                        <p>A board can be either Private or Public. A private board can be accessed by you and by those whom you choose to share it with.
                        On the other hand, a public board can be searched and accessed by any user of MyTacks. Anyone could add a tack to your board.</p>
                        <p>You can change the privacy settings for your board at any time.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What does Follow mean?
                    </div>
                    <div class="content">
                        <p>To "Follow" a user means to get quick access to their public boards on your dashboard.</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What are Favorite tacks?
                    </div>
                    <div class="content">
                        <p>A favorite tack is a tack that you would like to access quickly.
                            When you open a tack, click on the star icon present on the top left corner of your tack to add/remove it from your list of Favorites</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>