<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style4.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/onoff.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />

    <title>Email Management</title>
</head>
<body>
<div class="ui inverted tiered menu">
        <div class="left menu">
        <div class="item">
            <img src="/static/images/tackshare.png" alt="TackShare"  width="300" height="50">
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <a class="item" href="/">
                <i class="home icon"></i> Home
            </a>
        </div>
        <div class="ui simple dropdown item">
            <i class="bookmark icon"></i>Actions<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/createtack">Create Tack</a>
                <a class="item" href="/createboard">Create Board</a>
                <a class="item" href="/newurltack">Create Tack from Url</a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            <i class="user icon"></i>User<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/update">Update Profile</a>
                <a class="item" href="/manageemail">Email Management</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div id="container_demo">
            <div id="wrapper">
                <div id="createboard" class="ui form segment" >
                    <form action="/savesubscriptions" method="post">
                        {% for subsc in subscriptions %}
                            <h3 class="ui header">Subscribe to email notifications when someone:</h3>
                            <div class="ui large label" for="myonoffswitch1"> Follows you
                                <div class="onoffswitch">
                                    <input type="hidden" name="onoffswitch1" value="off">
                                    <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="myonoffswitch1" {% if  subsc.follow == "on" %} checked {% endif %} >
                                    <label class="onoffswitch-label" for="myonoffswitch1">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div><br><br>
                            <div class="ui large label" for="myonoffswitch2"> Adds tack to your board
                                <input type="hidden" name="onoffswitch2" value="off">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" {% if  subsc.addtack  == "on" %} checked {% endif %}>
                                    <label class="onoffswitch-label" for="myonoffswitch2">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div><br><br>
                            <div class="ui large label" for="myonoffswitch3"> Marks your tack as Favorite
                                <div class="onoffswitch">
                                    <input type="hidden" name="onoffswitch3" value="off">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" {% if  subsc.favorite  == "on" %} checked {% endif %}>
                                    <label class="onoffswitch-label" for="myonoffswitch3">
                                        <div class="onoffswitch-inner"></div>
                                        <div class="onoffswitch-switch"></div>
                                    </label>
                                </div>
                            </div>

                            <input class="ui button blue" type="submit" value="Save"/>
                            <a href="/">
                                <input class="ui button blue" type="button" value="Cancel"/></a>

                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>