<!DOCTYPE html>
<html>
<head>
    <title>Share {{ boardName }}</title>
    <script type="text/javascript" src="/static/jquery-1.6.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css" />
    <script type="text/javascript" src="/static/css/semantic/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate-custom.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>

  <script>
        function searchOpen() {
    var search = $('#txtSearch').val()
    var data = {
        search: search
    };
    $.ajax({
        url: '/autoComplete',
        data: data,
        type: "POST",
        success: function(data) {
            var returned_html = $(data);
            $( "#txtSearch" ).autocomplete ({
        source: data
    });
        }
    });
        }
            </script>
</head>
<body>
<div class="ui inverted tiered menu">
        <div class="left menu">
        <div class="item">
            <img src="/static/images/tackshare.png" alt="TackShare"  width="300" height="50">
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <a class="item" href="/">
                <i class="home icon"></i> Home
            </a>
        </div>
        <div class="ui simple dropdown item">
            <i class="bookmark icon"></i>Actions<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/createtack">Create Tack</a>
                <a class="item" href="/createboard">Create Board</a>
                <a class="item" href="/newurltack">Create Tack from Url</a>
            </div>
        </div>
        <div class="ui simple dropdown item">
            <i class="user icon"></i>User<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/update">Update Profile</a>
                <a class="item" href="/manageemail">Email Management</a>
                <a class="item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div id="container_demo">
            <div id="wrapper">
                <div id="shareBoard" class="ui form segment" >
                    <form action="/shareWithUser" method="post" enctype="multipart/form-data">
                        <div class="field">
                            <h3 class="ui header">Share {{ boardName }} With:</h3>
                            <div class="input">
                                 <input type="text" name="search" id="txtSearch" onkeyup="searchOpen()" />
                                <input type="hidden" name="boardName" value="{{ boardName }}">
                            </div>
                        </div>
                        <input class="ui button blue" type="submit" name="share" value="Share!">
                    </form>
                </div>

                <div class="ui large label">{% if  sharedWith == "none" %}The board is not shared with anyone
                {% else %} This board is currently shared with: </div><br>
                    {% for userName in sharedWith %}
                        <div class="ui label">{{ userName }}
                        <a style="text-decoration: none" class="item"
                           href="/unShareBoard?userName={{ userName }}&boardName={{ boardName }}">
                            <i class="remove sign icon"></i>
                        </a>
                        </div><br>
                    {% endfor %}{% endif %}
             </div>
            </div>
    </section>
</div>
</body>
</html>