<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title></title>
</head>
<body>
<a href="/displayTack?tackName=s4_2"  rel="shadowbox" class="rounded ui image" >
    <video width="320" height="240" controls>
        <source src="{{ MEDIA_URL }}small.mp4" poster="VideoLogo.jpg" type="video/mp4">
        <source src="{{ MEDIA_URL }}small_m.mp4" poster="VideoLogo.jpg" type="video/mp4">
        <source src="{{ MEDIA_URL }}small_webm.webm" type="video/webm">
        <source src="{{ MEDIA_URL }}small_ogg.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
</a>
</body>
</html>